In [40]:
import numpy as np
import pandas as pd
import glob
import os

In [41]:
# get data file names
path =r'C:\Users\Anand\Documents\sports\raw_dataset\odi_dataset'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    try:
        data = pd.read_csv(filename)
    #     print(data)
        dfs.append(data)
    except:
        dfs.append(pd.read_csv(r'C:/Users/Anand/Documents/sports/empty.csv'))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)
print(big_frame)

                      0                    out_by runs balls empty fours  \
0       Gautam Gambhir                     b Vaas    0     2     1     0
1          Virat Kohli           lbw b Kulasekara   12    22    33     1
2         Suresh Raina       c Silva b Kulasekara   17    35    50     2
3         Yuvraj Singh                   b Mendis   23    30    70     2
4         Rohit Sharma   c Jayawardene b Thushara   19    31    46     1
...                 ...                       ...  ...   ...   ...   ...
4493       Virat Kohli        c †Buttler b Topley   17    22    27     3
4494     Rishabh Pant †                  not out   125   113   159    16
4495  Suryakumar Yadav       c †Buttler b Overton   16    28    34     1
4496     Hardik Pandya           c Stokes b Carse   71    55    81    10
4497   Ravindra Jadeja                   not out     7    15    31     0

     sixes strike_rate
0        0         0.0
1        0       54.54
2        0       48.57
3        1       76.66
4        1       61.29
...    ...         ...
4493     0       77.27
4494     2      110.61
4495     0       57.14
4496     0      129.09
4497     0       46.66

[4498 rows x 8 columns]

In [42]:
df = big_frame[big_frame['0'].str.contains("Virat Kohli")]
df = df.reset_index()
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate
0,1,Virat Kohli,lbw b Kulasekara,12,22,33,1,0,54.54
1,23,Virat Kohli,lbw b Kulasekara,12,22,33,1,0,54.54
2,49,Virat Kohli,c Kapugedera b Thushara,37,67,82,6,0,55.22
3,57,Virat Kohli,run out (Silva),25,38,40,4,0,65.78
4,78,Virat Kohli,b Thushara,54,66,87,7,0,81.81
...,...,...,...,...,...,...,...,...,...
247,4410,Virat Kohli,c Roach b Joseph,8,4,6,2,0,200.0
248,4416,Virat Kohli,c †Hope b Smith,18,30,42,3,0,60.0
249,4438,Virat Kohli,c †Hope b Joseph,0,2,2,0,0,0.00
250,4471,Virat Kohli,c †Buttler b Willey,16,25,39,3,0,64.0
251,4493,Virat Kohli,c †Buttler b Topley,17,22,27,3,0,77.27

In [43]:

df['out_type'] = df.out_by.apply(lambda x: x[:1])
df['out_type'] = df['out_type'].str.replace('l','lbw')
df['out_type'] = df['out_type'].str.replace('c','catch_out')
df['out_type'] = df['out_type'].str.replace('r','run_out')
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,1,Virat Kohli,lbw b Kulasekara,12,22,33,1,0,54.54,lbw
1,23,Virat Kohli,lbw b Kulasekara,12,22,33,1,0,54.54,lbw
2,49,Virat Kohli,c Kapugedera b Thushara,37,67,82,6,0,55.22,catch_out
3,57,Virat Kohli,run out (Silva),25,38,40,4,0,65.78,run_out
4,78,Virat Kohli,b Thushara,54,66,87,7,0,81.81,
...,...,...,...,...,...,...,...,...,...,...
247,4410,Virat Kohli,c Roach b Joseph,8,4,6,2,0,200.0,catch_out
248,4416,Virat Kohli,c †Hope b Smith,18,30,42,3,0,60.0,catch_out
249,4438,Virat Kohli,c †Hope b Joseph,0,2,2,0,0,0.00,catch_out
250,4471,Virat Kohli,c †Buttler b Willey,16,25,39,3,0,64.0,catch_out
251,4493,Virat Kohli,c †Buttler b Topley,17,22,27,3,0,77.27,catch_out

In [44]:
df['out_by'] = df['out_by'].str.replace('lbw b','')
df['out_by'] = df['out_by'].str.replace('run out','')
df['out_by'] = df['out_by'].str.replace('b','')
df['out_by'] = df['out_by'].str.replace('c †','')
df['out_by'] = df['out_by'].str.replace('c','')

df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,1,Virat Kohli,Kulasekara,12,22,33,1,0,54.54,lbw
1,23,Virat Kohli,Kulasekara,12,22,33,1,0,54.54,lbw
2,49,Virat Kohli,Kapugedera Thushara,37,67,82,6,0,55.22,catch_out
3,57,Virat Kohli,(Silva),25,38,40,4,0,65.78,run_out
4,78,Virat Kohli,Thushara,54,66,87,7,0,81.81,
...,...,...,...,...,...,...,...,...,...,...
247,4410,Virat Kohli,Roah Joseph,8,4,6,2,0,200.0,catch_out
248,4416,Virat Kohli,Hope Smith,18,30,42,3,0,60.0,catch_out
249,4438,Virat Kohli,Hope Joseph,0,2,2,0,0,0.00,catch_out
250,4471,Virat Kohli,Buttler Willey,16,25,39,3,0,64.0,catch_out
251,4493,Virat Kohli,Buttler Topley,17,22,27,3,0,77.27,catch_out

In [45]:
data = df['out_by'].str.rsplit(' ',n=1,expand= True)
df['outby']=data[1]
df= df.drop(['out_by'],axis =1)
df

,index,0,runs,balls,empty,fours,sixes,strike_rate,out_type,outby
0,1,Virat Kohli,12,22,33,1,0,54.54,lbw,Kulasekara
1,23,Virat Kohli,12,22,33,1,0,54.54,lbw,Kulasekara
2,49,Virat Kohli,37,67,82,6,0,55.22,catch_out,Thushara
3,57,Virat Kohli,25,38,40,4,0,65.78,run_out,(Silva)
4,78,Virat Kohli,54,66,87,7,0,81.81,,Thushara
...,...,...,...,...,...,...,...,...,...,...
247,4410,Virat Kohli,8,4,6,2,0,200.0,catch_out,Joseph
248,4416,Virat Kohli,18,30,42,3,0,60.0,catch_out,Smith
249,4438,Virat Kohli,0,2,2,0,0,0.00,catch_out,Joseph
250,4471,Virat Kohli,16,25,39,3,0,64.0,catch_out,Willey
251,4493,Virat Kohli,17,22,27,3,0,77.27,catch_out,Topley

In [46]:
df.to_csv(r'odi_record.csv',index=False)