In [47]:
import numpy as np
import pandas as pd
import glob
import os

In [48]:
# get data file names
path =r'C:\Users\Anand\Documents\sports\raw_dataset\t20_dataset'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    try:
        data = pd.read_csv(filename)
    #     print(data)
        dfs.append(data)
    except:
        dfs.append(pd.read_csv(r'C:/Users/Anand/Documents/sports/empty.csv'))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)
print(big_frame)

                         0                   out_by runs balls empty fours  \
0           Lendl Simmons         c Sharma b Chahar    2     4     -     0
1              Evin Lewis   lbw b Washington Sundar   40    17     -     3
2            Brandon King         st †Pant b Jadeja   31    23     -     3
3         Shimron Hetmyer         c Sharma b Chahal   56    41     -     2
4       Kieron Pollard (c)                 b Chahal   37    19     -     1
...                    ...                      ...  ...   ...   ...   ...
1415        Deepak Chahar                  not out     0     0     3     0
1416        Navdeep Saini                  not out     0     1     2     0
1417      Reeza Hendricks       c Kohli b HH Pandya   28    26    47     4
1418  Quinton de Kock (c)†                 not out    79    52    73     6
1419         Temba Bavuma                  not out    27    23    26     2

     sixes strike_rate
0        0       50.00
1        4      235.29
2        1      134.78
3        4      136.58
4        4      194.73
...    ...         ...
1415     0           -
1416     0        0.00
1417     0      107.69
1418     5      151.92
1419     1      117.39

[1420 rows x 8 columns]

In [49]:
df = big_frame[big_frame['0'].str.contains("Virat Kohli")]
df = df.reset_index()
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate
0,9,Virat Kohli (c),not out,94,50,-,6,6,188.00
1,16,Virat Kohli (c),c Simmons b Williams,19,17,-,2,0,111.76
2,29,Virat Kohli (c),not out,70,29,-,4,7,241.37
3,55,Virat Kohli (c),not out,30,17,-,1,2,176.47
4,62,Virat Kohli (c),run out (Gunathilaka/†Perera),26,17,-,2,1,152.94
...,...,...,...,...,...,...,...,...,...
86,1362,Virat Kohli (c),c Pollard b Cottrell,19,29,-,1,0,65.51
87,1370,Virat Kohli (c),b Cottrell,28,23,-,1,1,121.73
88,1391,Virat Kohli (c),c Lewis b Thomas,59,45,-,6,0,131.11
89,1403,Virat Kohli (c),not out,72,52,66,4,3,138.46
90,1408,Virat Kohli (c),c Phehlukwayo b Rabada,9,15,28,0,0,60.00

In [50]:

df['out_type'] = df.out_by.apply(lambda x: x[:1])
df['out_type'] = df['out_type'].str.replace('l','lbw')
df['out_type'] = df['out_type'].str.replace('c','catch_out')
df['out_type'] = df['out_type'].str.replace('r','run_out')
df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,9,Virat Kohli (c),not out,94,50,-,6,6,188.00,n
1,16,Virat Kohli (c),c Simmons b Williams,19,17,-,2,0,111.76,catch_out
2,29,Virat Kohli (c),not out,70,29,-,4,7,241.37,n
3,55,Virat Kohli (c),not out,30,17,-,1,2,176.47,n
4,62,Virat Kohli (c),run out (Gunathilaka/†Perera),26,17,-,2,1,152.94,run_out
...,...,...,...,...,...,...,...,...,...,...
86,1362,Virat Kohli (c),c Pollard b Cottrell,19,29,-,1,0,65.51,catch_out
87,1370,Virat Kohli (c),b Cottrell,28,23,-,1,1,121.73,
88,1391,Virat Kohli (c),c Lewis b Thomas,59,45,-,6,0,131.11,catch_out
89,1403,Virat Kohli (c),not out,72,52,66,4,3,138.46,n
90,1408,Virat Kohli (c),c Phehlukwayo b Rabada,9,15,28,0,0,60.00,catch_out

In [51]:
df['out_by'] = df['out_by'].str.replace('lbw b','')
df['out_by'] = df['out_by'].str.replace('run out','')
df['out_by'] = df['out_by'].str.replace('b','')
df['out_by'] = df['out_by'].str.replace('c †','')
df['out_by'] = df['out_by'].str.replace('c','')
df['out_type'] = df['out_type'].str.replace('n','not_out')

df

,index,0,out_by,runs,balls,empty,fours,sixes,strike_rate,out_type
0,9,Virat Kohli (c),not out,94,50,-,6,6,188.00,not_out
1,16,Virat Kohli (c),Simmons Williams,19,17,-,2,0,111.76,catch_out
2,29,Virat Kohli (c),not out,70,29,-,4,7,241.37,not_out
3,55,Virat Kohli (c),not out,30,17,-,1,2,176.47,not_out
4,62,Virat Kohli (c),(Gunathilaka/†Perera),26,17,-,2,1,152.94,runot_out_out
...,...,...,...,...,...,...,...,...,...,...
86,1362,Virat Kohli (c),Pollard Cottrell,19,29,-,1,0,65.51,catch_out
87,1370,Virat Kohli (c),Cottrell,28,23,-,1,1,121.73,
88,1391,Virat Kohli (c),Lewis Thomas,59,45,-,6,0,131.11,catch_out
89,1403,Virat Kohli (c),not out,72,52,66,4,3,138.46,not_out
90,1408,Virat Kohli (c),Phehlukwayo Raada,9,15,28,0,0,60.00,catch_out

In [52]:
data = df['out_by'].str.rsplit(' ',n=1,expand= True)
df['outby']=data[1]
df= df.drop(['out_by'],axis =1)
df = df.drop(['empty'],axis =1)
df

,index,0,runs,balls,fours,sixes,strike_rate,out_type,outby
0,9,Virat Kohli (c),94,50,6,6,188.00,not_out,
1,16,Virat Kohli (c),19,17,2,0,111.76,catch_out,Williams
2,29,Virat Kohli (c),70,29,4,7,241.37,not_out,
3,55,Virat Kohli (c),30,17,1,2,176.47,not_out,
4,62,Virat Kohli (c),26,17,2,1,152.94,runot_out_out,(Gunathilaka/†Perera)
...,...,...,...,...,...,...,...,...,...
86,1362,Virat Kohli (c),19,29,1,0,65.51,catch_out,Cottrell
87,1370,Virat Kohli (c),28,23,1,1,121.73,,Cottrell
88,1391,Virat Kohli (c),59,45,6,0,131.11,catch_out,Thomas
89,1403,Virat Kohli (c),72,52,4,3,138.46,not_out,
90,1408,Virat Kohli (c),9,15,0,0,60.00,catch_out,Raada

In [53]:
df.to_csv(r't20_record.csv',index=False)